body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    height: 100vh;
}

.col-md-5 {
    margin-top:150px !important;
    background-color: white;
}

h1 {
    text-align: center;
    font-weight: bolder !important;
    margin: 20px !important;
}

input {
    display: inline !important;
    border: 3px solid black !important;
    width: 85% !important;
}

button {
    margin-left: 10px;
}

li {
    list-style: none;
    font-size: 20px;
    text-align: center;
    width: 70%;
    display: inline;
    margin: 10px;
}

i {
    color: red;

}